:root {
  --body: #E8D2A6;
  --background: #F55050;
  --text: #86A3B8;
}

body {
  background-color: var(--body);
  margin: 0;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color: var(--body);
}

/* Navbar */
nav {
  background-color: var(--text);
  color: var(--body);
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  letter-spacing: .2rem;
  padding: 15px 0;
  position: sticky;
  width: 100vw;
}

.container {
  display: flex;
  justify-content: space-around;
}

/* Grid */
.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.outside {
  background: var(--background);
  width: 450px;
  height: 450px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.inside {
  height: 400px;
  width: 400px;
  cursor: url("https://cur.cursors-4u.net/user/use-1/use109.cur"), auto;
  display: grid;
}

/* Buttons */
.buttons-container {
  margin: 50px 0;
}

.size-button input {
  background: white;
  border: 2px solid var(--background);
  height: 50px;
  width: 50px;
  border-radius: 4px;
}

.size-button input, textarea {
  color: var(--background);
  text-align: center;
}

.size-button input:focus {
  outline: 1px solid var(--background);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-weight: bold;
}

.buttons{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 margin-bottom: 30px;
 grid-auto-rows: 100px;
 grid-gap: 20px;
 justify-items: center;
 align-items: center;
}

.size-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.buttons > button,
.size-button > button {
  background: white;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  border: 2px solid var(--background);
  color: var(--background);
  transition: .3s all ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.buttons > button:hover,
.size-button > button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
  transform: scale(1.1);
  font-weight: bold;
}

/* Default Button */
.default:hover {
  background-color: var(--background);
  border: 2px solid var(--background);
  color: white;
}

/* Random Button */
.random:hover {
  background: linear-gradient(20deg, #B5F1CC,#FCC2FC,#FFFBAC);
  border: none;
  color: white;
}

/* Eraser Button */
.eraser:hover {
  background-color: white;
  border: 2px solid white;
  color: var(--background);
}

/* Input Color */
input[type='color'] {
  /* -webkit-appearance: none; */
  width: 82px;
  height: 82px;
  border: none;
  background-color: transparent;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 100%;
}

input[type='color']:hover {
  transform: scale(1.1);
  transition: .3s all ease-in-out;
  cursor: pointer;
}

/* Set, Grid, Reset and Color buttons */
.set:hover,
.grid:hover,
.reset:hover,
.color:hover {
  background-color: var(--text);
  border: 2px solid var(--text);
  color: white;
}

/* Footer */
footer {
  background: var(--text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: var(--body);
  font-weight: bold;
}
