:root {
  --body: #E8D2A6;
  --background: #F55050;
  --text: #86A3B8;
}

body {
  background-color: var(--body);
  margin: 0;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color: var(--body);
}

/* Navbar */
nav {
  background-color: var(--text);
  color: var(--body);
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  letter-spacing: .2rem;
  padding: 15px 0;
  position: sticky;
  width: 100vw;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 13px auto;
}

/* Grid */
.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.outside {
  background: var(--background);
  width: 425px;
  height: 425px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.inside {
  height: 400px;
  width: 400px;
  cursor: url("https://cur.cursors-4u.net/user/use-1/use109.cur"), auto;
  display: grid;
}

/* Buttons */
.buttons{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 margin-bottom: 40px;
 grid-auto-rows: 100px;
 grid-gap: 20px;
 justify-items: center;
 align-items: center;
}

/* All Buttons */
.buttons > button,
.size-container > button {
  background: white;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  border: 2px solid var(--background);
  color: var(--background);
  transition: .3s all ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.buttons > button:hover,
.size-container > button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
  transform: scale(1.1);
  font-weight: bold;
}

/* Default Button */
.default:hover {
  background-color: var(--background);
  border: 2px solid var(--background);
  color: white;
}

/* Random Button */
.random:hover {
  background: linear-gradient(20deg, #B5F1CC,#FCC2FC,#FFFBAC);
  border: none;
  color: white;
}

/* Input Color */
input[type='color'] {
  appearance: none;
  width: 82px;
  height: 82px;
  border: none;
  background-color: transparent;
  transition: .3s all ease-in-out;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 100%;
}

input[type='color']:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* Eraser Button */
.eraser:hover {
  background-color: white;
  border: 2px solid white;
  color: var(--background);
}

/* Grid Button */
.grid {
  background-image: url("Image/grid.png") !important;
  background-size: contain !important;
  background-position: center !important;
}

.grid:hover {
  background-image: url("Image/grid.png");
  background-size: contain;
  background-position: center;
}

/* Reset button */
.reset:hover {
  background-color: var(--text);
  border: 2px solid var(--text);
  color: white;
}

/* Input range for grid's divs */
input[type="range"] {
  appearance: none;
  outline: none;
  width: 52%;
  height: 8px;
  background: white;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 21px;
  width: 21px;
  border-radius: 50%;
  background: var(--background);
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
}

input[type=range]::-webkit-slider-runnable-track  {
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
  z-index: 1;
}

input[type=range]::-webkit-slider-thumb:hover  {
  transform: scale(1.05);
}

/* Size container */
.size-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.size-value {
  color: var(--background);
  font-weight: bolder;
  margin-left: 10px;
}

#progressBar {
  width: 7%;
  height: 8px;
  background-color: var(--background);
  border-radius: 7px;
  position: absolute;
  left: 39.42857px;;
}

/* Activate buttons  */
.default-active {
  background-color: var(--background) !important;
  color: white !important;
  font-weight: bold;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
}

.random-active {
  background: linear-gradient(20deg, #B5F1CC,#FCC2FC,#FFFBAC) !important;
  color: white !important;
  font-weight: bold;
  transform: scale(1.1);
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
}

.eraser-active {
  background-color: white !important;
  color: var(--background) !important;
  font-weight: bold;
  border: 2px solid white !important;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
}

.grid-active {
  background: white !important;
  color: var(--background) !important;
  font-weight: bold;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
}

/* Tooltip */
.tooltip {
  color: var(--background);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  position: relative;
  font-weight: bold;
  margin: 30px auto;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 175px;
  background-color: var(--background);
  color: #fff;
  border-radius: 4px;
  margin: 10px auto;
  padding: 6px;
  position: absolute;
  z-index: 1;
  left: 14px;
  top: 0px;
}

.tooltip:hover {
  cursor: help;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

/* Footer */
footer {
  background: var(--text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: var(--body);
  font-weight: bold;
}


/* Responsive Design */
@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .buttons-container {
    margin: 15px auto;
  }

  .outside {
    max-width: 75vw;
    max-height: 72vw;
  }

  .inside {
    max-width: 70vw;
    max-height: 67vw;
  }

  .tooltip .tooltip-text {
    width: 136px;
  }

  footer p {
    text-align: center;
    font-size: 12px;
  }
}
